sub stock.json
{
  "name": "sub stock",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d4597494-eef1-42f2-869c-9f7168d11a7a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7a58ad22-c6ae-4cfc-a07f-f691a4f944be",
              "name": "query",
              "value": "={{ $json.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "762c3fd9-0079-4eaa-86ab-90eae42e69e3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.chart-img.com/v2/tradingview/advanced-chart/storage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "oiKy97fICL7AzlJo0MzXg4CW5EkjBrWj7pSReGj4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"theme\": \"dark\",\n\"symbol\": \"{{ 'NASDAQ:' + ($json.query || '').toUpperCase() }}\",\n\"interval\": \"1D\",\n  \"width\": 800,\n  \"height\": 600,\n  \"studies\": [\n    {\n      \"name\": \"Volume Profile Visible Range\",\n      \"override\": {\n        \"graphics.horizlines.pocLines.color\": \"rgb(0,0,255)\"\n      }\n    },\n    {\n      \"name\": \"Relative Strength Index\"\n    },\n    {\n      \"name\": \"MA with EMA Cross\"\n    }\n  ]\n}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "cf87ed45-9598-41bc-a57c-994daec49c75",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "analyze the image carefully and give the wise analysis about the image.",
        "imageUrls": "={{ $('HTTP Request1').item.json.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1040,
        0
      ],
      "id": "1bb86393-73fb-4515-a84d-4e31163e643c",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "ITolS6o56fdOI9En",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        0
      ],
      "id": "b92ab646-00b4-40a4-9b22-ae0f227a1e3e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f13fefd-02a5-4d15-ab10-fafaa5ceaa08",
              "name": "result.text",
              "value": "={{ $('Analyze image').item.json['0'].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        0
      ],
      "id": "0bdbf875-fafc-4dee-a918-7d26f73d54f8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "1757619079",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        0
      ],
      "id": "1a6b6b0e-1cfb-4db3-9830-9439ddf5c70d",
      "name": "Send a photo message",
      "webhookId": "519cb02c-17bb-498c-a344-d3eb9bc2c9bc",
      "credentials": {
        "telegramApi": {
          "id": "XF2eV9CvDgBA9ibw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "1757619079",
        "text": "={{ $json.result.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        0
      ],
      "id": "79694e74-8e98-4113-80c2-196ebb06a1d8",
      "name": "Send a text message",
      "webhookId": "c09c2f0f-911b-47cd-9f50-2b7d55e3e9ac",
      "credentials": {
        "telegramApi": {
          "id": "XF2eV9CvDgBA9ibw",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "AMZN"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a photo message": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2fa7cae1-4dbb-46d2-869c-f4af1ab221c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b4f475a3bb06d78914422115f2f4a0e76855af4ba98b4ff666d1863e618904b"
  },
  "id": "jEPSHMHTO2BzyCFv",
  "tags": []
}